<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="partials/head :: head (title='Business Solutions Assessoria Inc')">
    <div th:replace="partials/links :: links"></div>
</head>

<body>

<nav th:replace="partials/navbar :: navbar"></nav>

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center" style="height: 300px !important;">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <h1>My Documents</h1>
        <h2>View all your tax, insurance, and other business forms</h2>
    </div>
</section><!-- End Hero -->

<!-- ======= Featured Services Section ======= -->
<!--style="height: 500px !important;"-->
<section id="featured-services" class="featured-services container d-flex" >
    <div class="container" data-aos="fade-up">
        <div class="row">
<!--            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">-->
<!--                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">-->
<!--                    <div class="icon"><i class="bx bxl-dribbble"></i></div>-->
<!--                    <h4 class="title"><a href="">Income Tax Return</a></h4>-->
<!--                    <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>-->
<!--                </div>-->
<!--            </div>-->
            <div class="col-lg">
                One of three columns
            </div>
            <div class="col-lg">
                One of three columns
            </div>
            <div class="col-lg">
                One of three columns
            </div>
            <div class="col-lg">
                One of three columns
            </div>
            <div class="col-lg">
                One of three columns
            </div>
        </div>
    </div>
</section><!-- End Featured Services Section -->


<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<div th:replace="partials/scripts :: scripts"></div>

</body>

</html>
<!--<script>-->
<!--    var eles = document.getElementById('leftbar').children;-->
<!--    for (var i = 0, len = allElements.length; i < len; i++){-->
<!--        var element = allElements[i];-->

<!--    }-->
<!--</script>-->

